sphinx>=4.0.0
sphinx_rtd_theme>=1.0.0
recommonmark>=0.7.1
sphinx-markdown-tables>=0.0.15
myst-nb>=1.0.0rc0
myst-parser
sphinx_copybutton>=0.5.0
sphinx_design>=0.5.0
sphinx-autodoc-typehints>=2.0.0
sphinxcontrib-bibtex>=2.5.0 